.body {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 30%;
  background-color: #f7dc6f;
}

.header {
  font-family: Garamond;
  color: #2471a3;
}

.item { font-family: Arial }

.done { text-decoration: line-through; }

.icons {
  position: relative;
  padding-right: 42px;
  top: 6px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  position: relative;
  bottom: 2px;
}

.clear:hover { cursor: pointer; }
