.body {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 30%;
  background-color: #f7dc6f;
}

.header {
  font-family: Garamond;
  color: #2471a3;
}

.item { font-family: Arial }

.done { color: #c4c4c4; }