.sidebar,
.menu { display: flex; }

.wrap,
.content { min-width: 425px; }

.wrap {
  margin: 0 auto;
  width: 29%;
}

.sidebar {
  justify-content: center;
  background-color: #f6f6fe !important;
}

.link {
  text-decoration: none;
  color: #000;
}
