.tab { color: #2471a3; }

.block {
  display: flex;
  justify-content: space-around;
}

.count {
  display: flex;
  align-items: center;
}

.delete {
  padding: 5px;
  border: 2px solid #2471a3;
  border-radius: 8px;
}

.delete:hover { cursor: pointer; }
